git+https://git.direct-netware.de/dpt/logging/@v1.0.0#egg=dpt-logging
git+https://git.direct-netware.de/dpt/runtime/@v1.0.0#egg=dpt-runtime
git+https://git.direct-netware.de/dpt/settings/@v1.0.0#egg=dpt-settings

git+https://git.direct-netware.de/dpt/builder_suite/@v1.0.0#egg=dpt-builder-suite[gitsrc]
